*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --pink:#e84393;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section {
    padding: 2rem 9%;
}
.review h1{
    font-size:4rem ;
    text-align:  center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    border: 2px solid #ffe8f7; 
    padding: 10px;
    background-color: #ffe8f7;
}
.review .heading span{
    color: var(--pink);
}

.review .box-container {  
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box .fas .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}
.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;
}
.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
}
.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}
.review .box-container .box .user h3{
    font-size: 1.5rem;
    color: #999;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}




@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
}
@media (max-width:768px) {
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0; 
        right: 0;
        background: #eee;
        border-top: .1rem solid rgb(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgb(0,0,0,.1);
        display: block;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1.3rem;
    }


    .home-content h3{
        font-size: 5rem;
    }
    .home-content span{
        font-size: 2.5rem;
    }

}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }
   
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}



@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}